# the following lines help us ignore extensionless binaries
# Ignore all
*
# Unignore all with extensions
!*.*
# Unignore all dirs
!*/
# Unignore makefile
!Makefile

#no matrix market files
*.mtx

# no backup files
*~
\#*
.#*
auto/*

# no crash dumps
octave-workspace
octave-core
core

# no rivate config
config.mk
RMakefile.priv

# no qt projectfiles
*.pro*

# no temporary files (dependencies,...)
*.dep

# no object files, libraries, etc.
Linux*/
build*/
debug/
release/

.ccls*
compile_commands.json

# no binaries (objects, libraries/mex, executables)
*.o
*.out
*.so
*.a

*.obj
*.lib
*.dll
*.mex*

*.exe

# no assembler output
*.S
*.s

# no objdump output
*.dump

# ignore OS X stuff
.DS_Store

# no cachegrind output
cachegrind.out.*


# no output from coverage analysis
coverage

# no test output
*timings*.txt
blastimings*.txt
*output.txt
sysinfo*txt

artifacts/

# no vscode build folder
.vscode

#no doxygen output
html
